<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    @Styles.Render("~/Content/style.css")
    @RenderSection("scripts", required: false)
    <title>Kuva Jaya</title>
</head>
<body>
    <header>
        <div class="main-nav">
            @Html.ActionLink("Kuva Jaya", "_Layout", "Shared", null, new { @class = "logo" })

            <ul>
                <li>@Html.ActionLink("Profile", "profile", "profil", null, null)</li>
                <li>@Html.ActionLink("Company", "company", "company", null, null)</li>
                <li>@Html.ActionLink("Services", "services", "services", null, null)</li>
                <li>@Html.ActionLink("Collaboration", "collaboration", "collabotation", null, null)</li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="description">
            <h2 class="heading-secondary">
                Services that we provide
            </h2>
            <p>We provide all the services you need in the property sector</p>
        </div>

        <div class="cards">
            <div class="card">
                <div class="icon">
                    <img src="/img/home-buy-sell.jpg" alt="Image 1">
                </div>

                <h3 class="heading-tertiary">Buy and Sell</h3>
                <p>
                    You can buy our group property and we will buy your property with an attractive offer.
                </p>
            </div>

            <div class="card">
                <div class="icon">
                    <img src="/img/home-rent.jpg" alt="Image 2">
                </div>

                <h3 class="heading-tertiary">Rent a Property</h3>
                <p>
                    We provide many properties that are ready for you to rent.
                </p>
            </div>

            <div class="card">
                <div class="icon">
                    <img src="/img/tower-dream.jpg" alt="Image 3">
                </div>

                <h3 class="heading-tertiary">Build Your Own Property</h3>
                <p>
                    You can make your dream property come true, we are happy to make it happen.
                </p>
            </div>
        </div>

    </div>
    @RenderBody()
</body>
</html>
